body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    background: linear-gradient(80deg, rgb(80, 0, 0), rgb(180, 0, 0), rgb(80, 0, 0));
}

header {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: linear-gradient(to right, rgb(31, 31, 31), rgb(61, 61, 61));
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    position: relative;
    z-index: 1000;
}

/* Navegação do header */
header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li i {
    padding: 5px;
}

header nav ul li i:hover {
    transform: scale(1.5);
    transition: transform 70ms ease-in-out;
    color: black;
    background-color: rgb(147, 0, 0);
    border-radius: 20px;
}

header img {
    height: 80px;
    width: auto;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 15px;
    transition: color 0.3s ease;
}

/* Estilos do título geral */
.geral-title {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgb(35, 35, 35);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Estilos das seções */
section {
    margin: 40px;
    background-color: #040000a0;
    padding: 50px 0;
    border-radius: 50px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    border: solid 2px black;
}

/* Estilos do título de seção */
.title {
    color: rgb(255, 255, 255);
    background-color: rgb(35, 35, 35);
    width: 90%;
    max-width: 700px;
    padding: 20px;
    border-radius: 0 50px 50px 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

/* Estilos principais */
main {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos para cards */
.card, .card2 {
    background-color: rgb(35, 35, 35);
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 100px auto;
}

.card {
    width: 90%;
    max-width: 600px;
}

.card2 {
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.card2 button, .card2 input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
}

.card2 button {
    background-color: #ff4b4b;
    color: white;
    cursor: pointer;
}

#resultado, #resultado-gasto, #resultado-dieta {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
}

/* Estilos do rodapé */
footer {
    margin-top: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 20px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(61, 61, 61));
}

/* Estilos gerais do menu-toggle */
.menu-toggle {
    display: none; /* Inicialmente escondido em telas grandes */
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
}

.menu-toggle span {
    background: white;
    border-radius: 2px;
    height: 3px;
    width: 25px;
    margin: 4px;
    transition: all 0.3s ease;
}

/* Estilos para o menu quando aberto */
.menu-open .menu-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-open .menu-toggle span:nth-child(2) {
    opacity: 0;
}

.menu-open .menu-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -8px);
}

/* Estilos específicos para telas menores */
@media (max-width: 768px) {
    header nav {
        display: none; /* Inicialmente escondido em telas pequenas */
        width: 250px; /* Ajustar a largura conforme necessário */
        position: fixed;
        top: 0;
        right: 0;
        background: linear-gradient(to right, rgb(31, 31, 31), rgb(61, 61, 61));
        flex-direction: column;
        align-items: center;
        padding: 15px;
        border-radius: 50px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-100%); /* Inicialmente escondido fora da tela */
        transition: transform 0.3s ease;
    }

    header nav.menu-open {
        display: flex; /* Mostrar o menu quando aberto */
        transform: translateY(0); /* Mostrar o menu na tela */
    }

    .menu-toggle {
        display: flex; /* Mostrar o toggle em telas pequenas */
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%; /* Ocupa toda a largura disponível */
    }

    header nav ul li {
        margin: 10px 0; /* Margem para itens de menu */
        text-align: center; /* Centralizar texto em itens de menu */
    }

}

/* Estilos para telas muito pequenas */
@media (max-width: 480px) {
    .geral-title {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .title {
        font-size: 1.5em;
    }

    .card, .card2 {
        margin: 20px auto; /* Ajustar margem para telas pequenas */
    }
}
